@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('/css/Montserrat-SemiBold.ttf') format('opentype');
}


.body {
    background-color:  #96B5F8;
    overflow: hidden;
    font-family: 'Montserrat';
}

.body::after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color:#1A1A1A;
    position: fixed;
    z-index: -1;

}



.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}
.logo_index {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 220px;
}
.points {
    position: absolute;
    top: 55%;
    left: 22px;
    width: 150px;
    height: 150px;
}
.setka {
    position: absolute;
    bottom: 0;
    left: 51%;
    transform: translateX(-51%);
    width: 50%;
    height: auto;
}
.lines {
    position: absolute;
    bottom: -20px;
    right: -50px;
    width: 300px;
    height: 540px;
    transform: translate(0, 0); /* Убирает смещение */

}
.lines2 {
    position: absolute;
    top: 2%;
    left: 10%;
    width: 1000px;
    height: 230px;
}
/*Эффект печатающегося текста*/
.typing-effect {
    white-space: pre-wrap;
    overflow: hidden;
    font-size: 18px;
}


.button.login {
    width: 60%;
    left: 20%;
}

.button.login button,
.button button {
    width: 100%;
    line-height: 64px;
    left: 0%;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.1);
    font-weight: 900;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.2);
}

.button.login {
    margin-top: 30px;
}

.button {
    margin-top: 20px;
}

.button.login button.active {
    border: 3px solid transparent;
    color: #fff !important;
}

.button.login button.active span {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
}

.button.login button.active i.fa {
    opacity: 1;
    transform: scale(1) rotate(-0deg);
    -webkit-transform: scale(1) rotate(-0deg);
    -ms-transform: scale(1) rotate(-0deg);
}

.button.login button i.fa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 60px;
    transform: scale(0) rotate(-45deg);
    -webkit-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
}

.button {
    margin: 40px 0;
    overflow: hidden;
    z-index: 2;
}

.button button {
    cursor: pointer;
    position: relative;
    z-index: 2;
}





.container12 {
    background-color: #96B5F8;
    width: 100%;
    height: 100%;
}


.left-column_1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgba(255, 255, 255, 0.29);
    overflow-x: hidden; /* Отключение горизонтальной прокрутки */
    box-shadow: inset 0px 0px 15px rgba(103, 121, 163, 0.39);
}
.left-column_11 {
    padding-right: 20px;
    width: 100%;
    height: 90vh;
    margin: 0 auto;

    position: sticky;
    top: 30px;



    overflow-x: hidden;
    /*overflow-y: auto!* Отключение горизонтальной прокрутки *!*/
}

.right-column {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 100vh;
    overflow-y: auto;
    background-color: #191818;
      color: white;
}



/*Регистрация*/

.container_login {
    display: flex;
    justify-content: center;
    /*top: 30%;*/
    position: absolute;
    font-family: 'Montserrat';
    font-size: 20px;
    align-items: center;
    left: 0;
    width: 100%; /* Ширина 100% экрана */
    height: 100%; /* Высота 100% экрана */
}
.form-wrapper {
    display: flex;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    padding: 20px 20px 40px; /* Дополнительный отступ снизу для кнопки */
    width: 100%;
    min-height: 450px;
    text-align: center;
}
.form-group {
    margin-bottom: 60px;
    width: 100%;
}
.row {
    width: 100%;
    max-width: 1000px;
}

.form-control_reg {
    width: 92%;
    padding: 10px;
    background-color: transparent; /* Прозрачный фон */
    border: none;
    border-bottom: 2px solid #000; /* Черная линия снизу */
    font-size: 20px;
    color: #000;
    outline: none;
    margin-bottom: 20px;
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
}
.form-control-login:focus {
    border-bottom-color: #000;
    font-size: 20px;}
.form-control_reg::placeholder {
    color: #000000;
    font-size: 20px;
}
.col-md-6 {
    background-color: #E9F0FF;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary_reg{
    width: 50%; /* Ширина кнопки 50% от формы */
    padding: 10px;
    border-radius: 20px; /* Сглаженные углы */
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin-top: 45px;
    border: 2px solid #ffffff;
}
span a {
    color: #060d13;
}
.login-button {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 20px; /* Расстояние от правого края */
    padding: 10px 20px;
    background-color: #fff; /* Белый фон */
    color: #000; /* Черный текст */
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 20px; /* Закругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}

.login-button:hover {
    background-color: #E9F0FF; /* Светло-серый фон при наведении */
}
/*Форма входа*/
.login-form-group {
    margin-bottom: 20px;
    margin-top: 50px;
}

/* Стили для полей ввода в форме входа */
.form-control-login {
    width: 93%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 20px;
    color: #000;
    outline: none;
    margin-bottom: 40px; /* Отступ между полями */
}

.form-control-login::placeholder {
    color: #000;
    font-size: 20px;
}



/* Стили для кнопки "Войти" в форме входа */
.btn-primary-login {
    width: 50%; /* Ширина кнопки 50% от формы */
    padding: 10px;
    border-radius: 20px; /* Сглаженные углы */
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
}

.btn-primary-login:hover {
    background-color: #333;
}


.chat-input-container {
    padding-top: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    align-items: center;
}

.chat-input-container form {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
}

.chat-input-container input[type="text"] {
    width: 90%;
    height: 80%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-right: 10px;
}

.chat-input-container button {
    width: 10%;
    height: 60%;
    background-color: #4CAF50;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.chat-input-container button:hover {
    background-color: #45a049;
}
.chat-input-container input:focus {
    outline-width: 0;
}

  .typing-effect {
      white-space: pre-wrap;
      overflow: hidden;
      font-size: 18px;
  }
.container12 {
    background-color: #95b4f6;
    width: 100%;
    height: 100%;
}
.left-column_1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    box-shadow: inset 0px 0px 15px rgba(103, 121, 163, 0.39);
}
.left-column_11 {
    padding-right: 20px; /* Внутренний отступ */
    width: 100%; /* 75% от ширины окна */
    height: 90vh;
    margin: 0 auto;
    position: sticky;
    top: 30px; /* Начало от верхнего края */
    overflow-x: hidden;
    /*overflow-y: auto!* Отключение горизонтальной прокрутки *!*/
}
.left-column_1 {
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
    box-shadow: inset 0px 0px 15px rgba(103, 121, 163, 0.39);
}
.right-column {
    position: absolute;
    top: 0; /* Закрепляем сверху при прокрутке */
    right: 0;
    width: 15%; /* Ширина 20% от страницы */
    height: 100vh; /* Высота равна высоте окна для полной правой панели */
    background-color: #191818; /* Цвет фона — черный */
    color: white; /* Цвет текста — белый для контраста (по желанию) */
    overflow-x: hidden;
    overflow-y: hidden;
}
.chat-input-container {
    padding-top: 5px;
    position: relative;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 20px;
    align-items: center;
}
.chat-input-container form {
    display: flex;
    width: 100%; /* Ширина формы ввода */
    background-color: #ffffff; /* Цвет фона формы */
    padding: 10px; /* Внутренние отступы формы */
    border-radius: 20px; /* Скругленные углы формы (опционально) */
    box-sizing: border-box; /* Учитывать padding в ширине формы */
    border: 2px solid #1a1a1a;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.22);
}
.chat-input-container input[type="text"] {
    width: 90%;
    height: 80%; /* Высота поля ввода */
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin-right: 10px;
}
.chat-input-container button {
    position: absolute;
    right: 10px;
    padding-right: 35px;
    width: 50px; /* Задайте фиксированную ширину кнопки */
    height: 35px;
    background-image: url("../image/knopka.png");
    background-size: 100%;
    background-position: center;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: #ffffff;
}
.chat-input-container input:focus {
    outline-width: 0;
}
/*Кастомный скроллбар*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #191818 0%, rgb(149, 180, 246) 100%);
    border-radius: 10px;
}
.btn-primary-logout {
    width: auto; /* Ширина кнопки */
    padding: 10px; /* Внутренние отступы */
    border-radius: 20px; /* Сглаженные углы */
    background-color: #1a1a1a; /* Черный фон */
    color: #fff; /* Белый текст */
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid #ffffff; /* Белая обводка */
    position: fixed;
    top: 70px;
    right: 15px; /* Отступ от правого края */
    box-sizing: border-box; /* Учитывает padding и border */
}

.right-column h1 {
    padding-top: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
}

.admin {
    position: fixed;
    bottom: -10px;
    right: -100px;
    transform: translate(0, 0); /* Убирает смещение */
    height: 25%;
    width: 20%;
}
.icon {
    position: fixed;
    top: 10px;
    right: -10px;
    transform: translate(0, 0);
}
.right-column span {
    text-align: left;
    color: #ffffff;
    font-size: 16px;
}

.right-column span {
    text-align: left;
    color: #ffffff;
    font-size: 14px;
}

.pdf {
    position: fixed;
    bottom: 0;
    left: 43px;
}
.pdf button {
    width: auto; /* Ширина кнопки */
    padding: 10px; /* Внутренние отступы */
    border-radius: 20px; /* Сглаженные углы */
    background-color: #1a1a1a; /* Черный фон */
    color: #fff; /* Белый текст */
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid #ffffff; /* Белая обводка */ /* Отступ от правого края */
    box-sizing: border-box; /* Учитывает padding и border */
}



/* Стили для всплывающего уведомления */
.toast {
    position: fixed; /* Фиксируем позицию относительно окна браузера */
    top: 10px; /* Расстояние от верхнего края */
    left: 10px; /* Расстояние от левого края */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: none; /* Скрываем по умолчанию */
    z-index: 9999; /* Размещаем поверх всего */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация появления */
}

/* Анимация появления уведомления */
.toast.show {
    display: block;
    opacity: 1;
}

/* Анимация многоточия */
.loading {
    font-size: 24px;
    display: inline-block;
    clip-path: inset(0 3ch 0 0); /* Начальная маска */
    animation: l 1s steps(4) infinite; /* Шаговая анимация */
}

@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0); /* Анимация клипирования */
    }
}
/*Админка*/

.body_admin{
    background-color:  #96B5F8;
    overflow: hidden;
    font-family: 'Montserrat';
    overflow-y: auto;
}
.logo_admin {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 220px;
}
.admin_h1_panel, .admin_h2_panel {
    color: #000000;
    text-align: center; /* Центрирование текста */
    margin-top: 20px; /* Отступ сверху */
    margin-bottom: 20px;
}
.table-container {
    width: 80%;
    /*margin-left: 25%;*/
    margin: 30px auto; /* Отступ сверху */
    /*padding: 10px; !* Внутренний отступ *!*/
    background-color: #BFCDFC; /* Фоновый цвет контейнера */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2); /* Тень контейнера */
    overflow-x: auto; /* Прокрутка по горизонтали при необходимости */
    border: 2px solid #000000;
}

.table_admin {
    width: 100%; /* Таблица занимает всю ширину контейнера */
    border-collapse: separate; /* Разделяет границы ячеек, если нужно */
    border-spacing: 0; /* Убирает промежуток между ячейками */
    border-radius: 10px; /* Закругление углов */

}

.table_admin td {
    padding: 10px; /* Внутренний отступ в ячейках таблицы */
    text-align: left; /* Выравнивание текста в ячейках */
    font-family: 'Montserrat';
    font-size: 18px;
    color: black;
    border: 2px solid #000000;
}
.table_admin th{
    text-align: left;
    background-color: #000000;
    padding: 10px; /* Внутренний отступ в ячейках таблицы */
    text-align: left; /* Выравнивание текста в ячейках */
    font-family: 'Montserrat';
    font-size: 18px;
    color: white;
    border: 3px solid #000000;
}

.admin-button {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px; /* Расстояние от правого края */
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 10px; /* Закругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}


.custom-select {
    appearance: none; /* Убирает стандартный стиль */
    padding: 8px 12px; /* Внутренний отступ */
    color: #000000; /* Цвет текста */
    background-color: #BACAFF; /* Фоновый цвет */
    border: 1px solid #96B5F8; /* Граница */
    border-radius: 5px; /* Закругленные углы */
    outline: none; /* Убирает стандартную рамку при фокусе */
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.2); /* Тень контейнера */
    cursor: pointer; /* Изменяет указатель мыши */
    width: 100%; /* Ширина 100% от родителя */
    transition: all 0.3s ease; /* Анимация для плавности */
}


.btn-primary_role{
    z-index: 20;
    /*position: absolute;*/
    /*bottom: 20px;*/
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 10px; /* Закругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход цвета */

}


.btn-delete_user{
    z-index: 20;
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*left: 20px;*/
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #000;
    border-radius: 10px; /* Закругленные углы */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
}